## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Geraldton,AU,-28.7667,114.6000,48.61,100,100,5.75,overcast clouds
1,1,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.81,91,46,11.32,scattered clouds
2,2,Vaini,TO,-21.2000,-175.2000,78.96,94,75,13.80,broken clouds
3,3,Constitucion,CL,-35.3333,-72.4167,51.91,73,88,7.99,overcast clouds
4,4,Qaanaaq,GL,77.4840,-69.3632,38.48,58,0,2.62,clear sky

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 95

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.81,91,46,11.32,scattered clouds
2,2,Vaini,TO,-21.2000,-175.2000,78.96,94,75,13.80,broken clouds
5,5,Porto Novo,BJ,6.4965,2.6036,74.52,84,46,8.46,scattered clouds
7,7,Saint-Philippe,RE,-21.3585,55.7679,67.59,77,66,15.48,broken clouds
8,8,Albany,US,42.6001,-73.9662,81.05,62,39,9.55,scattered clouds
10,10,Port Alfred,ZA,-33.5906,26.8910,65.79,65,95,9.82,overcast clouds
18,18,Namibe,AO,-15.1961,12.1522,63.55,86,71,2.21,broken clouds
19,19,Lyantonde,UG,-0.4031,31.1572,66.96,52,67,2.21,broken clouds
20,20,Irituia,BR,-1.7711,-47.4381,78.64,78,28,6.33,scattered clouds
22,22,Ruston,US,32.5232,-92.6379,78.62,78,0,5.75,clear sky

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [20]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.81,91,46,11.32,scattered clouds
2,2,Vaini,TO,-21.2000,-175.2000,78.96,94,75,13.80,broken clouds
5,5,Porto Novo,BJ,6.4965,2.6036,74.52,84,46,8.46,scattered clouds
7,7,Saint-Philippe,RE,-21.3585,55.7679,67.59,77,66,15.48,broken clouds
8,8,Albany,US,42.6001,-73.9662,81.05,62,39,9.55,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
566,566,Mayya,RU,61.7333,130.2811,60.12,70,81,3.89,broken clouds
567,567,Vanimo,PG,-2.6741,141.3028,79.18,80,100,5.23,overcast clouds
568,568,Booue,GA,-0.0921,11.9385,76.14,66,19,2.42,few clouds
572,572,Sisak,HR,45.4661,16.3783,67.98,84,30,1.92,scattered clouds
573,573,Sibiti,CG,-3.6819,13.3499,72.18,62,22,3.33,few clouds

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Joao Da Barra,BR,70.81,scattered clouds,-21.6403,-41.0511,
2,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
5,Porto Novo,BJ,74.52,scattered clouds,6.4965,2.6036,
7,Saint-Philippe,RE,67.59,broken clouds,-21.3585,55.7679,
8,Albany,US,81.05,scattered clouds,42.6001,-73.9662,
10,Port Alfred,ZA,65.79,overcast clouds,-33.5906,26.8910,
18,Namibe,AO,63.55,broken clouds,-15.1961,12.1522,
19,Lyantonde,UG,66.96,broken clouds,-0.4031,31.1572,
20,Irituia,BR,78.64,scattered clouds,-1.7711,-47.4381,
22,Ruston,US,78.62,clear sky,32.5232,-92.6379,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Joao Da Barra,BR,70.81,scattered clouds,-21.6403,-41.0511,Pousada Porto De Canoas
2,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Porto Novo,BJ,74.52,scattered clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
7,Saint-Philippe,RE,67.59,broken clouds,-21.3585,55.7679,Le four à pain
10,Port Alfred,ZA,65.79,overcast clouds,-33.5906,26.8910,The Halyards Hotel
18,Namibe,AO,63.55,broken clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
19,Lyantonde,UG,66.96,broken clouds,-0.4031,31.1572,Novella Hotel & Spa
20,Irituia,BR,78.64,scattered clouds,-1.7711,-47.4381,Hotel Irituia
22,Ruston,US,78.62,clear sky,32.5232,-92.6379,Sleep Inn & Suites University
23,Puerto Ayora,EC,70.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))